/**** Font ****/
@font-face {
  font-family: 'novecento_sans_widelight';
  src: url('../font/Novecentosanswide-Light-webfont.eot');
  src: url('../font/Novecentosanswide-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/Novecentosanswide-Light-webfont.woff') format('woff'), url('../font/Novecentosanswide-Light-webfont.ttf') format('truetype'), url('../font/Novecentosanswide-Light-webfont.svg#novecento_sans_widelight') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* General */
body,
input,
select,
textarea {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#pag {
  margin: 0 auto;
  position: relative;
  width: 791px;
}
header {
  background: #f4f2f2;
  height: 1%;
  overflow: hidden;
  padding: 15px 30px;
}
header h1 {
  background: url(../img/header-h1.png) 0 0 no-repeat;
  float: left;
  height: 46px;
  text-indent: -9999px;
  width: 94px;
}
header h2 {
  background: url(../img/header-h2.png) 0 0 no-repeat;
  float: right;
  height: 24px;
  margin-top: 12px;
  text-indent: -9999px;
  width: 64px;
}
footer {
  background: url(../img/footer.png) 0 0 no-repeat;
  height: 89px;
  text-indent: -9999px;
  width: 791px;
}
section.pages {
  position: relative;
}
section.pages div.lightbox {
  background: url(../img/pages-lightbox-bg.png) 0 0 repeat;
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 15;
}
section.pages div.lightbox a.close {
  background: url(../img/pages-home-lightbox-video-close.png) 0 0 no-repeat;
  display: block;
  height: 22px;
  position: absolute;
  right: -11px;
  top: -11px;
  text-indent: -9999px;
  width: 22px;
  z-index: 99999;
}
section.pages.home {
  height: 1%;
  overflow: hidden;
  padding: 20px 25px 15px 5px;
}
section.pages.home div.box {
  width: 322px;
}
section.pages.home div.box:nth-of-type(1) {
  float: left;
}
section.pages.home div.box:nth-of-type(1) div.description {
  margin-bottom: 20px;
}
section.pages.home div.box:nth-of-type(1) div.description a {
  display: block;
  transition: opacity 250ms;
  text-decoration: none;
}
section.pages.home div.box:nth-of-type(1) div.description a.create-face {
  background: #aa2455 url(../img/pages-home-create-bg.png) 10px center no-repeat;
  color: #fff;
  border-radius: 5px;
  font-weight: 300;
  height: 31px;
  line-height: 29px;
  position: relative;
  text-align: center;
  text-indent: 10px;
  width: 180px;
}
section.pages.home div.box:nth-of-type(1) div.description a.create-face span {
  background: #3b5998;
  border-left: 2px solid #fff;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  float: right;
  line-height: 31px;
  text-align: center;
  text-indent: 0px;
  position: absolute;
  right: -17px;
  width: 30px;
}
section.pages.home div.box:nth-of-type(1) div.description a:hover {
  opacity: 0.7;
}
section.pages.home div.box:nth-of-type(1) div.description h1 {
  color: #aa2455;
  font-size: 29px;
  margin-bottom: 15px;
}
section.pages.home div.box:nth-of-type(1) div.description p {
  color: #777676;
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 15px;
}
section.pages.home div.box:nth-of-type(1) div.description p strong {
  color: #aa2455;
}
section.pages.home div.box:nth-of-type(1) div.counts {
  background: #aa2455;
  color: #fff;
  height: 1%;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px 15px;
}
section.pages.home div.box:nth-of-type(1) div.counts p {
  display: block;
  font-size: 9px;
  float: right;
  padding-top: 8px;
  padding-right: 10px;
  text-align: left;
  width: 20px;
}
section.pages.home div.box:nth-of-type(1) div.counts ul {
  font-family: 'novecento_sans_widelight';
  font-size: 33px;
  float: left;
  padding: 2px 0px;
}
section.pages.home div.box:nth-of-type(1) div.counts ul li {
  border-right: 1px solid #bb5178;
  float: left;
  line-height: 24px;
  padding: 2px 2px;
}
section.pages.home div.box:nth-of-type(1) div.counts ul li:last-child {
  border: none;
}
section.pages.home div.box:nth-of-type(1) div.counts div.total {
  border: 1px solid #bb5178;
  float: left;
  height: 33px;
  padding: 0px 5px;
  width: 163px;
}
section.pages.home div.box:nth-of-type(1) div.counts div.chile {
  border: 1px solid #bb5178;
  float: right;
  height: 33px;
  padding: 0px 5px;
  width: 98px;
}
section.pages.home div.box:nth-of-type(1) div.counts div.chile p {
  padding-top: 3px;
}
section.pages.home div.box:nth-of-type(1) div.socials a {
  border: 1px solid #eed2dc;
  color: #777676;
  display: inline-block;
  font-size: 9px;
  height: 18px;
  line-height: 18px;
  text-decoration: none;
  text-indent: 5px;
  width: 48px;
}
section.pages.home div.box:nth-of-type(1) div.socials a span {
  color: #aa2455;
}
section.pages.home div.box:nth-of-type(1) div.socials a.hashtag {
  border: none;
  color: #aa2455;
  font-size: 13px;
  margin-right: 10px;
  width: auto;
}
section.pages.home div.box:nth-of-type(2) {
  float: right;
  width: 323px;
}
section.pages.home div.box:nth-of-type(2) div.video {
  padding-top: 20px;
}
section.pages.home div.box:nth-of-type(2) div.video div.content {
  background: url(../img/pages-home-video-content.png) 0 0 no-repeat;
  padding: 6px 0px;
}
section.pages.home div.box:nth-of-type(2) div.video div.content a {
  clear: both;
  color: #fff;
  display: block;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  text-decoration: none;
}
section.pages.home div.box:nth-of-type(2) div.video div.content a p:nth-of-type(1) {
  font-size: 25px;
  margin-bottom: 2px;
}
section.pages.home div.box:nth-of-type(2) div.video div.content a p:nth-of-type(2) {
  font-size: 15px;
  margin-bottom: 15px;
}
section.pages.home div.box:nth-of-type(2) div.video div.content a span {
  background: #aa2455;
  border-radius: 50%;
  display: inline-block;
  font-size: 25px;
  height: 56px;
  line-height: 56px;
  text-indent: 5px;
  transition: opacity 250px;
  width: 56px;
}
section.pages.home div.box:nth-of-type(2) div.video div.content a:hover span {
  opacity: 0.7;
}
section.pages.home div.box:nth-of-type(2) div.video div.content h3 {
  background: #6b6c6e;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
  font-size: 12px;
  float: right;
  height: 28px;
  line-height: 28px;
  padding: 0px 10px;
  text-align: center;
}
section.pages.home div.box:nth-of-type(2) div.buttons a {
  display: inline-block;
  border-radius: 5px;
  height: 34px;
  line-height: 34px;
  text-decoration: none;
  text-align: center;
  transition: opacity 250ms;
}
section.pages.home div.box:nth-of-type(2) div.buttons a.gallery {
  background: #dedede url(../img/pages-home-buttons-gallery.png) 10px center no-repeat;
  border-radius: 5px;
  color: #aa2455;
  margin-right: 10px;
  padding: 0px 10px;
  text-indent: 25px;
}
section.pages.home div.box:nth-of-type(2) div.buttons a.about {
  background: #aa2455;
  color: #fff;
  height: 33px;
  line-height: 33px;
  padding: 0px 15px;
}
section.pages.home div.box:nth-of-type(2) div.buttons a:hover {
  opacity: 0.7;
}
section.pages.home div#video {
  padding: 56px 0px;
  opacity: 0;
  width: 100%;
  transition: opacity 300ms;
  z-index: -1;
}
section.pages.home div#video div.content {
  border: 5px solid #2c2c2c;
  border-radius: 5px;
  height: 240px;
  margin: 0 auto;
  position: relative;
  width: 590px;
}
section.pages.home div#video div.content div.socials {
  float: right;
  margin-top: 15px;
}
section.pages.home div#video div.content div.socials a {
  display: inline-block;
  text-indent: -9999px;
}
section.pages.home div#video div.content div.socials a.facebook {
  background: url(../img/pages-socials-facebook.png) 0 0 no-repeat;
  height: 20px;
  margin-right: 10px;
  width: 89px;
}
section.pages.home div#video div.content div.socials a.twitter {
  background: url(../img/pages-socials-twitter.png) 0 0 no-repeat;
  height: 20px;
  width: 81px;
}
section.pages.home div#video.enabled {
  opacity: 1;
  z-index: 1;
}
section.pages.home div#techo {
  padding: 10px 0px;
  opacity: 0;
  width: 100%;
  transition: opacity 300ms;
  z-index: -1;
}
section.pages.home div#techo div.content {
  background: #fff;
  border: 5px solid #2c2c2c;
  border-radius: 5px;
  height: 290px;
  margin: 0 auto;
  padding: 20px 20px;
  position: relative;
  width: 644px;
}
section.pages.home div#techo div.content div.slider {
  float: left;
  position: relative;
  overflow: hidden;
  width: 358px;
}
section.pages.home div#techo div.content div.slider > a {
  display: block;
  height: 31px;
  position: absolute;
  top: 45%;
  text-indent: -9999px;
  width: 19px;
  z-index: 5;
}
section.pages.home div#techo div.content div.slider > a.disabled {
  display: none;
}
section.pages.home div#techo div.content div.slider > a.prev {
  background: url(../img/pages-home-techo-prev.png) 0 0 no-repeat;
  left: 5px;
}
section.pages.home div#techo div.content div.slider > a.next {
  background: url(../img/pages-home-techo-next.png) 0 0 no-repeat;
  right: 5px;
}
section.pages.home div#techo div.content div.slider div.items {
  height: 280px;
  margin-bottom: 5px;
  position: relative;
  width: 2000px;
}
section.pages.home div#techo div.content div.slider div.items div.item {
  background: #dad9d9;
  color: #777676;
  float: left;
  height: 280px;
  text-align: center;
  width: 358px;
}
section.pages.home div#techo div.content div.slider div.pagination {
  color: #777676;
}
section.pages.home div#techo div.content div.slider div.pagination ul {
  height: 1%;
  margin: 0 auto;
  overflow: hidden;
  width: 64px;
}
section.pages.home div#techo div.content div.slider div.pagination ul li {
  float: left;
  margin-right: 5px;
}
section.pages.home div#techo div.content div.slider div.pagination ul li a {
  background: #777676;
  border: 1px solid #cccccc;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  text-indent: -9999px;
  transition: background 250ms;
  width: 10px;
}
section.pages.home div#techo div.content div.slider div.pagination ul li.current a,
section.pages.home div#techo div.content div.slider div.pagination ul li:hover a {
  background: #aa2455;
}
section.pages.home div#techo div.content div.slider div.pagination ul li:last-child {
  margin-right: 0px;
}
section.pages.home div#techo div.content div.description {
  float: right;
  padding-top: 10px;
  width: 260px;
}
section.pages.home div#techo div.content div.description h2 {
  background: url(../img/pages-home-techo-h2.png) 0 0 no-repeat;
  height: 45px;
  margin-bottom: 30px;
  text-indent: -9999px;
  width: 121px;
}
section.pages.home div#techo div.content div.description p {
  color: #777676;
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 15px;
}
section.pages.home div#techo div.content div.description p strong {
  color: #aa2455;
  font-weight: 700;
}
section.pages.home div#techo div.content div.description p:nth-of-type(2) {
  margin-bottom: 50px;
}
section.pages.home div#techo div.content div.description div.socials {
  margin-top: 15px;
}
section.pages.home div#techo div.content div.description div.socials a {
  display: inline-block;
  text-indent: -9999px;
}
section.pages.home div#techo div.content div.description div.socials a.facebook {
  background: url(../img/pages-socials-facebook.png) 0 0 no-repeat;
  height: 20px;
  margin-right: 10px;
  width: 89px;
}
section.pages.home div#techo div.content div.description div.socials a.twitter {
  background: url(../img/pages-socials-twitter.png) 0 0 no-repeat;
  height: 20px;
  width: 81px;
}
section.pages.home div#techo.enabled {
  opacity: 1;
  z-index: 1;
}
section.pages.gallery {
  height: 1%;
  overflow: hidden;
  position: relative;
}
section.pages.gallery div.top {
  height: 1%;
  margin-bottom: 15px;
  overflow: hidden;
}
section.pages.gallery div.top a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}
section.pages.gallery div.top a.home {
  background: #aa2455;
  border-radius: 5px;
  float: right;
  padding: 5px 10px;
}
section.pages.gallery div.top h2 {
  color: #aa2455;
  font-size: 25px;
  font-weight: 300;
  float: left;
}
section.pages.gallery div.items {
  clear: both;
  height: 1%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 744px;
}
section.pages.gallery div.items div.item {
  float: left;
  position: relative;
  overflow: hidden;
}
section.pages.gallery div.items div.item a img {
  height: 249px;
  width: 247px;
}
section.pages.gallery div.items div.item a p {
  background: url(../img/pages-lightbox-bg.png) 0 0 repeat;
  bottom: 0px;
  color: #fff;
  padding: 10px 0px;
  position: absolute;
  text-align: center;
  transition: background 250ms;
  width: 100%;
  z-index: 2;
}
section.pages.gallery div.items div.item a span {
  background: url(../img/pages-gallery-item-span.png) 0 0 repeat;
  color: #fff;
  display: block;
  font-size: 30px;
  height: 100%;
  left: 100%;
  padding-top: 37%;
  position: absolute;
  text-align: center;
  transition: left 250ms;
  top: 0px;
  width: 100%;
  z-index: 1;
}
section.pages.gallery div.items div.item a:hover p {
  background: none;
}
section.pages.gallery div.items div.item a:hover span {
  left: 0px;
}
section.pages.gallery div.items div.item:nth-of-type(2),
section.pages.gallery div.items div.item:nth-of-type(3),
section.pages.gallery div.items div.item:nth-of-type(4),
section.pages.gallery div.items div.item:nth-of-type(5),
section.pages.gallery div.items div.item:nth-of-type(6),
section.pages.gallery div.items div.item:nth-of-type(8),
section.pages.gallery div.items div.item:nth-of-type(9),
section.pages.gallery div.items div.item:nth-of-type(10),
section.pages.gallery div.items div.item:nth-of-type(11),
section.pages.gallery div.items div.item:nth-of-type(12) {
  height: 124px;
  width: 124px;
}
section.pages.gallery div.items div.item:nth-of-type(2) img,
section.pages.gallery div.items div.item:nth-of-type(3) img,
section.pages.gallery div.items div.item:nth-of-type(4) img,
section.pages.gallery div.items div.item:nth-of-type(5) img,
section.pages.gallery div.items div.item:nth-of-type(6) img,
section.pages.gallery div.items div.item:nth-of-type(8) img,
section.pages.gallery div.items div.item:nth-of-type(9) img,
section.pages.gallery div.items div.item:nth-of-type(10) img,
section.pages.gallery div.items div.item:nth-of-type(11) img,
section.pages.gallery div.items div.item:nth-of-type(12) img {
  height: 125px;
  margin: 0px;
  width: 124px;
}
section.pages.gallery div.items div.item:nth-of-type(6) {
  height: 126px;
}
section.pages.gallery div.items div.item:nth-of-type(6) img {
  height: 126px;
}
section.pages.gallery div.items div.item:nth-of-type(7) {
  float: left;
  height: 248px;
}
section.pages.gallery div.items div.item:nth-of-type(7) img {
  height: 248px;
}
section.pages.gallery div.items div.item:nth-of-type(10),
section.pages.gallery div.items div.item:nth-of-type(11),
section.pages.gallery div.items div.item:nth-of-type(12) {
  bottom: 0px;
  position: absolute;
  height: 124px;
}
section.pages.gallery div.items div.item:nth-of-type(10) img,
section.pages.gallery div.items div.item:nth-of-type(11) img,
section.pages.gallery div.items div.item:nth-of-type(12) img {
  height: 127px;
  width: 124px;
}
section.pages.gallery div.items div.item:nth-of-type(11) {
  left: 124px;
}
section.pages.gallery div.items div.item:nth-of-type(12) {
  left: 248px;
}
section.pages.gallery div#card-preview {
  padding: 10px 20px 40px;
  opacity: 0;
  width: 751px;
  transition: opacity 300ms;
  z-index: -1;
}
section.pages.gallery div#card-preview a.close {
  right: 144px;
  top: 28px;
}
section.pages.gallery div#card-preview > p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 15px;
  text-align: center;
}
section.pages.gallery div#card-preview div.content {
  border: 5px solid #292929;
  border-radius: 5px;
  height: 292px;
  margin: 0 auto;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
  width: 471px;
}
section.pages.gallery div#card-preview div.content img.card-bg {
  height: 297px;
  left: -1px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: -1px;
  width: 475px;
  z-index: 16;
}
section.pages.gallery div#card-preview div.content img.logo {
  left: 7px;
  position: absolute;
  top: -7px;
  width: 103px;
  z-index: 2;
}
section.pages.gallery div#card-preview div.content div.heart {
  bottom: 50px;
  left: 20px;
  position: absolute;
  z-index: 17;
}
section.pages.gallery div#card-preview div.content div.heart span {
  background: url(../img/pages-gallery-item-span.png) 0 0 repeat;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 50px;
  height: 86px;
  line-height: 96px;
  text-align: center;
  width: 86px;
}
section.pages.gallery div#card-preview div.controls {
  position: absolute;
  top: 35%;
  z-index: 18;
}
section.pages.gallery div#card-preview div.controls a {
  color: #fff;
  display: block;
  font-size: 65px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  width: 35px;
}
section.pages.gallery div#card-preview div.controls.prev {
  left: 20px;
}
section.pages.gallery div#card-preview div.controls.next {
  right: 20px;
}
section.pages.gallery div#card-preview div.socials {
  padding: 0px 165px;
}
section.pages.gallery div#card-preview div.socials div.followers {
  float: left;
  padding-top: 5px;
}
section.pages.gallery div#card-preview div.socials div.followers a {
  display: inline-block;
  text-indent: -9999px;
}
section.pages.gallery div#card-preview div.socials div.followers a.facebook {
  background: url(../img/pages-socials-facebook.png) 0 0 no-repeat;
  height: 20px;
  margin-right: 10px;
  width: 89px;
}
section.pages.gallery div#card-preview div.socials div.followers a.twitter {
  background: url(../img/pages-socials-twitter.png) 0 0 no-repeat;
  height: 20px;
  width: 81px;
}
section.pages.gallery div#card-preview div.socials div.share {
  float: right;
}
section.pages.gallery div#card-preview div.socials div.share a {
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  transition: opacity 250ms;
  width: 25px;
}
section.pages.gallery div#card-preview div.socials div.share a.facebook {
  background: #475995;
  margin-right: 2px;
}
section.pages.gallery div#card-preview div.socials div.share a.twitter {
  background: #80c4f3;
}
section.pages.gallery div#card-preview div.socials div.share a:hover {
  opacity: 0.7;
}
section.pages.gallery div#card-preview div.socials div.share p {
  color: #fff;
  display: inline;
}
section.pages.gallery div#card-preview.enabled {
  opacity: 1;
  z-index: 15;
}
section.pages.create,
section.pages.success,
section.pages.card,
section.pages.share {
  background: url(../img/pages-create-bg.png) 0 0 no-repeat;
  height: 1%;
  overflow: hidden;
  position: relative;
}
section.pages.create h1,
section.pages.success h1,
section.pages.card h1,
section.pages.share h1 {
  background: url(../img/pages-create-h1.png) 0 0 no-repeat;
  left: 10px;
  height: 134px;
  position: absolute;
  top: 0px;
  text-indent: -9999px;
  width: 169px;
  z-index: 2;
}
section.pages.create > div.thumb,
section.pages.success > div.thumb,
section.pages.card > div.thumb,
section.pages.share > div.thumb {
  background: url(../img/pages-create-thumb-bg.png) right top no-repeat;
  height: 355px;
  float: left;
  text-indent: -9999px;
  width: 403px;
  z-index: 1;
}
section.pages.create > div.content,
section.pages.success > div.content,
section.pages.card > div.content,
section.pages.share > div.content {
  float: left;
  padding: 65px 45px 40px 20px;
  width: 323px;
}
section.pages.create > div.content div.description,
section.pages.success > div.content div.description,
section.pages.card > div.content div.description,
section.pages.share > div.content div.description {
  margin-bottom: 20px;
}
section.pages.create > div.content div.description h2,
section.pages.success > div.content div.description h2,
section.pages.card > div.content div.description h2,
section.pages.share > div.content div.description h2 {
  color: #aa2455;
  font-size: 20px;
  margin-bottom: 20px;
}
section.pages.create > div.content div.description h2 span,
section.pages.success > div.content div.description h2 span,
section.pages.card > div.content div.description h2 span,
section.pages.share > div.content div.description h2 span {
  background: #aa2455;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  line-height: 34px;
  height: 34px;
  margin-right: 20px;
  text-align: center;
  width: 34px;
}
section.pages.create > div.content div.description p,
section.pages.success > div.content div.description p,
section.pages.card > div.content div.description p,
section.pages.share > div.content div.description p {
  color: #777777;
  font-size: 11px;
  line-height: 15px;
}
section.pages.create > div.content div.choice a,
section.pages.success > div.content div.choice a,
section.pages.card > div.content div.choice a,
section.pages.share > div.content div.choice a {
  display: inline-block;
  float: left;
  height: 86px;
  text-indent: -9999px;
  transition: opacity 250ms;
  width: 87px;
}
section.pages.create > div.content div.choice a.webcamera,
section.pages.success > div.content div.choice a.webcamera,
section.pages.card > div.content div.choice a.webcamera,
section.pages.share > div.content div.choice a.webcamera {
  background: url(../img/pages-create-choice-webcamera.png) 0 0 no-repeat;
  margin-right: 10px;
}
section.pages.create > div.content div.choice a:hover,
section.pages.success > div.content div.choice a:hover,
section.pages.card > div.content div.choice a:hover,
section.pages.share > div.content div.choice a:hover {
  opacity: 0.7;
}
section.pages.create > div.content div.choice h3,
section.pages.success > div.content div.choice h3,
section.pages.card > div.content div.choice h3,
section.pages.share > div.content div.choice h3 {
  color: #4e4e4e;
  font-size: 20px;
  margin-bottom: 15px;
}
section.pages.create > div.content div.choice div.pc,
section.pages.success > div.content div.choice div.pc,
section.pages.card > div.content div.choice div.pc,
section.pages.share > div.content div.choice div.pc {
  background: url(../img/pages-create-choice-pc.png) 0 0 no-repeat;
  float: left;
  height: 86px;
  position: relative;
  overflow: hidden;
  tranisition: opacity 250ms;
  width: 87px;
}
section.pages.create > div.content div.choice div.pc input.upload,
section.pages.success > div.content div.choice div.pc input.upload,
section.pages.card > div.content div.choice div.pc input.upload,
section.pages.share > div.content div.choice div.pc input.upload {
  cursor: pointer;
  filter: alpha(opacity=0);
  height: 86px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 87px;
}
section.pages.create > div.content div.choice div.pc:hover,
section.pages.success > div.content div.choice div.pc:hover,
section.pages.card > div.content div.choice div.pc:hover,
section.pages.share > div.content div.choice div.pc:hover {
  opacity: 0.7;
}
section.pages.create div#take-photo,
section.pages.success div#take-photo,
section.pages.card div#take-photo,
section.pages.share div#take-photo {
  padding: 35px 153px;
  opacity: 0;
  transition: opacity 300ms;
  width: 100%;
  z-index: -1;
}
section.pages.create div#take-photo div.content,
section.pages.success div#take-photo div.content,
section.pages.card div#take-photo div.content,
section.pages.share div#take-photo div.content {
  border: 8px solid #232323;
  border-radius: 5px;
  background: #fff;
  height: 195px;
  padding: 37px 25px 36px 20px;
  position: relative;
  width: 415px;
}
section.pages.create div#take-photo div.content div.how,
section.pages.success div#take-photo div.content div.how,
section.pages.card div#take-photo div.content div.how,
section.pages.share div#take-photo div.content div.how {
  float: left;
  width: 161px;
}
section.pages.create div#take-photo div.content div.how a,
section.pages.success div#take-photo div.content div.how a,
section.pages.card div#take-photo div.content div.how a,
section.pages.share div#take-photo div.content div.how a {
  background: #aa2455;
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  transition: opacity 250ms;
  padding: 5px 10px;
}
section.pages.create div#take-photo div.content div.how a:hover,
section.pages.success div#take-photo div.content div.how a:hover,
section.pages.card div#take-photo div.content div.how a:hover,
section.pages.share div#take-photo div.content div.how a:hover {
  opacity: 0.7;
}
section.pages.create div#take-photo div.content div.how h3,
section.pages.success div#take-photo div.content div.how h3,
section.pages.card div#take-photo div.content div.how h3,
section.pages.share div#take-photo div.content div.how h3 {
  color: #c61f56;
  font-size: 17px;
  margin-bottom: 50px;
}
section.pages.create div#take-photo div.content div.how h3 span,
section.pages.success div#take-photo div.content div.how h3 span,
section.pages.card div#take-photo div.content div.how h3 span,
section.pages.share div#take-photo div.content div.how h3 span {
  background: url(../img/pages-create-take-photo-h2-span.png) 0 0 no-repeat;
  display: inline-block;
  float: left;
  height: 34px;
  margin-right: 15px;
  vertical-align: bottom;
  width: 28px;
}
section.pages.create div#take-photo div.content div.how h3 strong,
section.pages.success div#take-photo div.content div.how h3 strong,
section.pages.card div#take-photo div.content div.how h3 strong,
section.pages.share div#take-photo div.content div.how h3 strong {
  vertical-align: top;
}
section.pages.create div#take-photo div.content div.how p,
section.pages.success div#take-photo div.content div.how p,
section.pages.card div#take-photo div.content div.how p,
section.pages.share div#take-photo div.content div.how p {
  color: #767676;
  font-size: 11px;
  margin-bottom: 60px;
}
section.pages.create div#take-photo div.content div.thumb,
section.pages.success div#take-photo div.content div.thumb,
section.pages.card div#take-photo div.content div.thumb,
section.pages.share div#take-photo div.content div.thumb {
  background: url(../img/pages-create-take-photo-thumb.png) 0 0 no-repeat;
  float: right;
  height: 196px;
  width: 196px;
}
section.pages.create div#take-photo.enabled,
section.pages.success div#take-photo.enabled,
section.pages.card div#take-photo.enabled,
section.pages.share div#take-photo.enabled {
  opacity: 1;
  z-index: 10;
}
section.pages.create div#pc-photo,
section.pages.success div#pc-photo,
section.pages.card div#pc-photo,
section.pages.share div#pc-photo {
  height: 357px;
  opacity: 0;
  transition: opacity 300ms;
  width: 100%;
  z-index: -1;
}
section.pages.create div#pc-photo.enabled,
section.pages.success div#pc-photo.enabled,
section.pages.card div#pc-photo.enabled,
section.pages.share div#pc-photo.enabled {
  opacity: 1;
  z-index: 10;
}
section.pages.success div.content div.show div.thumb {
  float: left;
  margin-right: 10px;
}
section.pages.success div.content div.show div.thumb img {
  border: 5px solid #fff;
  width: 110px;
}
section.pages.success div.content div.show div.buttons {
  float: left;
}
section.pages.success div.content div.show div.buttons a {
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  transition: opacity 250ms;
}
section.pages.success div.content div.show div.buttons a.again {
  background: #a7a7a7;
  margin-bottom: 10px;
}
section.pages.success div.content div.show div.buttons a.accept {
  background: #aa2455;
}
section.pages.success div.content div.show div.buttons a span {
  color: #fff;
  margin-right: 5px;
}
section.pages.success div.content div.show div.buttons a:nth-of-type(1) span {
  font-weight: 700;
}
section.pages.success div.content div.show div.buttons a:hover {
  opacity: 0.7;
}
section.pages.success div.content div.show div.buttons h4 {
  color: #aa2455;
  font-size: 15px;
  margin-bottom: 40px;
}
section.pages.card div.content div.description {
  margin-bottom: 2px;
}
section.pages.card div.content div.description h2 {
  margin-bottom: 0px;
}
section.pages.card div.content div.description h2 span {
  margin-right: 5px;
}
section.pages.card div.content div.description p {
  padding-left: 45px;
}
section.pages.card div.content div.show div.items {
  height: 1%;
  margin-bottom: 10px;
  overflow: hidden;
  padding-left: 40px;
}
section.pages.card div.content div.show div.items div.item {
  cursor: pointer;
  float: left;
  margin-right: 5px;
  position: relative;
}
section.pages.card div.content div.show div.items div.item img {
  height: 56px;
  margin: 5px;
  width: 56px;
  z-index: 0;
}
section.pages.card div.content div.show div.items div.item span {
  display: none;
  bottom: 25px;
  left: 15px;
  position: absolute;
  z-index: 1;
}
section.pages.card div.content div.show div.items div.item p {
  color: #777777;
  font-size: 10px;
  text-align: center;
}
section.pages.card div.content div.show div.items div.item:nth-child(4n + 4) {
  margin-right: 0px;
}
section.pages.card div.content div.show div.items div.item:nth-child(n + 4) {
  margin-bottom: 5px;
}
section.pages.card div.content div.show div.items div.item:hover img {
  border: 5px solid #aa2455;
  margin: 0px;
}
section.pages.card div.content div.show div.items div.item.enabled span {
  display: block;
}
section.pages.card div.content div.show div.buttons {
  text-align: center;
  padding-left: 35px;
}
section.pages.card div.content div.show div.buttons a {
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  transition: opacity 250ms;
}
section.pages.card div.content div.show div.buttons a.again {
  background: #a7a7a7;
}
section.pages.card div.content div.show div.buttons a.accept {
  background: #aa2455;
}
section.pages.card div.content div.show div.buttons a span {
  color: #fff;
  margin-right: 5px;
}
section.pages.card div.content div.show div.buttons a:nth-of-type(1) span {
  font-weight: 700;
}
section.pages.card div.content div.show div.buttons a:hover {
  opacity: 0.7;
}
section.pages.preview {
  background: url(../img/pages-create-bg.png) 0 0 no-repeat;
  height: 1%;
  overflow: hidden;
  padding: 10px 50px 15px 250px;
  position: relative;
}
section.pages.preview h1 {
  background: url(../img/pages-create-h1.png) 0 0 no-repeat;
  left: 10px;
  height: 134px;
  position: absolute;
  top: 0px;
  text-indent: -9999px;
  width: 169px;
  z-index: 2;
}
section.pages.preview div.content {
  width: 475px;
}
section.pages.preview div.content div.elements {
  margin-bottom: 10px;
}
section.pages.preview div.content div.elements div.element-content {
  height: 115px;
  padding: 126px 50px 10px 220px;
  position: relative;
  overflow: hidden;
}
section.pages.preview div.content div.elements div.element-content img.card-bg {
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 0;
}
section.pages.preview div.content div.elements div.element-content img.logo {
  left: 7px;
  position: absolute;
  top: -7px;
  width: 103px;
  z-index: 2;
}
section.pages.preview div.content div.elements div.element-content img.photo-smile {
  border: 5px solid #fff;
  box-shadow: 1px 2px #ccc;
  left: 50px;
  position: absolute;
  top: 60px;
  width: 139px;
  z-index: 1;
}
section.pages.preview div.content div.elements div.element-content p {
  color: #777777;
  display: inline-block;
  font-size: 11px;
  position: relative;
  z-index: 4;
}
section.pages.preview div.content div.elements div.element-content textarea {
  background: transparent;
  border: 1px solid #c6c6c6;
  color: #777777;
  font-size: 11px;
  height: 80px;
  margin-bottom: 5px;
  padding: 2px;
  position: relative;
  resize: none;
  z-index: 4;
}
section.pages.preview div.content div.elements div.element-footer {
  background: #fff;
  height: 1%;
  overflow: hidden;
  padding: 9px 10px 5px 25px;
}
section.pages.preview div.content div.elements div.element-footer img.lg {
  float: left;
  margin-right: 60px;
  width: 59px;
}
section.pages.preview div.content div.elements div.element-footer img.techo {
  float: right;
  margin-top: 5px;
  width: 55px;
}
section.pages.preview div.content div.elements div.element-footer p {
  color: #aa2455;
  float: left;
  font-size: 12px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
section.pages.preview div.content div.buttons {
  text-align: center;
  padding-left: 35px;
}
section.pages.preview div.content div.buttons a {
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  padding: 7px 0px;
  text-align: center;
  text-decoration: none;
  transition: opacity 250ms;
  width: 100px;
}
section.pages.preview div.content div.buttons a.again {
  background: #a7a7a7;
  color: #838383;
  margin-right: 20px;
}
section.pages.preview div.content div.buttons a.accept {
  background: #c61f56;
}
section.pages.preview div.content div.buttons a span {
  color: #fff;
  margin-right: 5px;
}
section.pages.preview div.content div.buttons a:nth-of-type(1) span {
  font-weight: 700;
}
section.pages.preview div.content div.buttons a:hover {
  opacity: 0.7;
}
section.pages.share > div.content {
  float: left;
  padding: 35px 63px 0px 20px;
  width: 305px;
}
section.pages.share > div.content div.description {
  margin-bottom: 7px;
}
section.pages.share > div.content div.description h2 {
  color: #aa2455;
  font-size: 20px;
  margin-bottom: 10px;
}
section.pages.share > div.content div.description p {
  color: #777777;
  font-size: 11px;
  line-height: 15px;
}
section.pages.share > div.content div.description p strong {
  color: #aa2455;
}
section.pages.share > div.content div.thumbnail {
  margin-bottom: 20px;
}
section.pages.share > div.content div.thumbnail img {
  width: 252px;
}
section.pages.share > div.content div.socials {
  padding-left: 120px;
}
section.pages.share > div.content div.socials a {
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  transition: opacity 250ms;
  width: 28px;
}
section.pages.share > div.content div.socials a.facebook {
  background: #475995;
  margin-right: 2px;
}
section.pages.share > div.content div.socials a.twitter {
  background: #80c4f3;
}
section.pages.share > div.content div.socials a:hover {
  opacity: 0.7;
}
section.pages.share > div.content div.socials p {
  display: inline;
  color: #777777;
  font-size: 11px;
  font-weight: 300;
  margin-right: 5px;
}
div.fanpage {
  background: url(../img/pages-lightbox-bg.png) 0 0 repeat;
  display: none;
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 15;
}
div.fanpage div.bg {
  background: url(../img/pages-home-fanpage.png) 190px 40px no-repeat;
  height: 527px;
  width: 791px;
}
div.fanpage.enable {
  display: block;
}
