/**** Font ****/
@font-face {
  font-family: 'novecento_sans_widelight';
  src: url('/font/Novecentosanswide-Light-webfont.eot');
  src: url('/font/Novecentosanswide-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/font/Novecentosanswide-Light-webfont.woff') format('woff'), url('/font/Novecentosanswide-Light-webfont.ttf') format('truetype'), url('/font/Novecentosanswide-Light-webfont.svg#novecento_sans_widelight') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* General */
body,
input,
select,
textarea {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#pag {
  margin: 0 auto;
  width: 791px;
}
